body{
    background:darkgray;
    text-align: center;
}
h1{
    font-family: IranNastaliq;
}
.s2{
    text-align: center;
    color: maroon;
}
.s3{
    text-align: center;
    color: maroon;
}
a{
    text-decoration: none;
}